@inherits System.Web.Mvc.WebViewPage

<div class="select-layout" style="display:inline-block">
    <video style="width:225px; height:70px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="29" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:225px; height:260px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="30" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:225px; height:70px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="31" />
</div>