@inherits System.Web.Mvc.WebViewPage

<div class="select-layout" style="display:inline-block">
    <video style="width:200px; height:175px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="11" />
</div>

<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:200px; height:50px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="14" />
</div>
