@inherits System.Web.Mvc.WebViewPage
<div class="select-layout select-area" style="display:inline-block">
    <video style="width:240px; height:150px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" onplay="onVdPlay(this)" area-code="a1" area-id="1"/>
</div>
<div class="select-layout select-area" style="display:inline-block">
    <video style="width:240px; height:150px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" onplay="onVdPlay(this)" area-code="a2" area-id="2"/>
</div>
<br />
<div class="select-layout select-area" style="display:inline-block">
    <video style="width:240px; height:150px;" id="player" src="/Content/videos/Relax.mp4" area-code="b1" controls onplay="onVdPlay(this)" class="vdReview" area-id="3"/>
</div>
<div class="select-layout select-area" style="display:inline-block">
    <video style="width:240px; height:150px;" id="player" src="/Content/videos/Relax.mp4" area-code="b2" controls onplay="onVdPlay(this)" class="vdReview" area-id="4"/>
</div>