@inherits System.Web.Mvc.WebViewPage

<div class="select-layout" style="display:inline-block">
    <video style="width:225px; height:70px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="29" visual-type="3" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:225px; height:260px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="30" visual-type="3" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:225px; height:70px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="31" visual-type="1" />
</div>
<br />
<br />
<div type="button" id="btnAudio" area-id="44" visual-type="2" onclick="onVdPlay(this)" class="vdReview" style="width:100%; text-align:center; text-decoration:underline; font-size:larger">Audio Setting</div>