@inherits System.Web.Mvc.WebViewPage
<div class="select-layout" style="display:inline-block">
    <video style="width:400px; height:225px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="17" />
</div>