@inherits System.Web.Mvc.WebViewPage
<div class="select-layout" style="display:inline-block">
    <video style="width:350px; height:200px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="9"/>
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:120px; height:200px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="10"/>
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:350px; height:150px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="11"/>
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:120px; height:150px;" id="player" src="/Content/videos/Relax.mp4" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="12"/>
</div>