@inherits System.Web.Mvc.WebViewPage
<div class="select-layout" style="display:inline-block">
    <video style="width:250px; height:140px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="35" visual-type="1" />
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:250px; height:140px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a2" onplay="onVdPlay(this)" area-id="36" visual-type="1" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:250px; height:140px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="b1" onplay="onVdPlay(this)" area-id="37" visual-type="1" />
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:250px; height:140px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="b2" onplay="onVdPlay(this)" area-id="38" visual-type="1" />
</div>
<br />
<div type="button" id="btnAudio" area-id="46" visual-type="2" onclick="onVdPlay(this)" class="vdReview" style="width:95%; text-align:center; text-decoration:underline; font-size:larger">Audio Setting</div>