@inherits System.Web.Mvc.WebViewPage
<div class="select-layout" style="display:inline-block">
    <video style="width:113px; height:200px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="26" visual-type="1" />
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:113px; height:200px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="27" visual-type="1" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:113px; height:200px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="28" visual-type="1" />
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:113px; height:200px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" area-code="a1" onplay="onVdPlay(this)" area-id="29" visual-type="1" />
</div>
<br />
<div type="button" id="btnAudio" area-id="43" visual-type="2" onclick="onVdPlay(this)" class="vdReview" style="width:100%; text-align:center; text-decoration:underline; font-size:larger">Audio Setting</div>
