@inherits System.Web.Mvc.WebViewPage
<div class="select-layout" style="display:inline-block">
    <video style="width:470px; height:200px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" onplay="onVdPlay(this)" area-code="a1" area-id="6" />
</div>
<br />
<div class="select-layout" style="display:inline-block">
    <video style="width:150px; height:150px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" onplay="onVdPlay(this)" area-code="b1" area-id="7" />
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:150px; height:150px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" onplay="onVdPlay(this)" area-code="b2" area-id="8" />
</div>
<div class="select-layout" style="display:inline-block">
    <video style="width:150px; height:150px;" id="player" src="https://cdn.filestackcontent.com/soZhUAhGSQ6tlZRYe3TE" controls class="vdReview" onplay="onVdPlay(this)" area-code="b3" area-id="9" />
</div>