
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Playlist Management</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add New Playlist</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    @using (Html.BeginForm((Model?.LocationId != null) ? "Update" : "Add", "Location", new { LocationId = (Model?.LocationId) }, FormMethod.Post, new { @id = "frm_location", @class = "form-horizontal form-label-left", role = "form" }))
                    {
                        @Html.ValidationSummary()
                        <div style="margin-left: 30px">
                            <h4 style="display: inline-block">Resource Items</h4><h4 style="display: inline-block; position: relative; left: 50%">New Playlist</h4>
                        </div>
                        <div class="col-sm-5">
                            <select name="from[]" id="multiselect1" class="form-control" size="8" multiple="multiple">
                                <option value="1" data-position="1">Item 1</option>
                                <option value="2" data-position="2">Item 5</option>
                                <option value="2" data-position="3">Item 2</option>
                                <option value="2" data-position="4">Item 4</option>
                                <option value="3" data-position="5">Item 3</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" id="multiselect1_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                            <button type="button" id="multiselect1_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                            <button type="button" id="multiselect1_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button type="button" id="multiselect1_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                        </div>

                        <div class="col-sm-5" id="selectedFiles">
                            <select name="to[]" id="multiselect1_to" class="form-control" size="8" multiple="multiple"></select>
                        </div>



                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" style="margin-top: 30px; width: 800px ">
                            @*<input id="" class="btn btn-primary" type="file" style="display: inline-block; margin-left: -30%">*@
                            <button style="margin-left:80%" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    }
                </div>
        </div>
    </div>

</div>
    </div>

@section scripts{

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
    <script type="text/javascript" src="~/Content/multiselect/js/multiselect.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-39934286-1', 'github.com');
        ga('send', 'pageview');
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            // make code pretty
            window.prettyPrint && prettyPrint();

            // hack for iPhone 7.0.3 multiselects bug
            if (navigator.userAgent.match(/iPhone/i)) {
                $('select[multiple]').each(function () {
                    var select = $(this).on({
                        "focusout": function () {
                            var values = select.val() || [];
                            setTimeout(function () {
                                select.val(values.length ? values : ['']).change();
                            }, 1000);
                        }
                    });
                    var firstOption = '<option value="" disabled="disabled"';
                    firstOption += (select.val() || []).length > 0 ? '' : ' selected="selected"';
                    firstOption += '>Select ' + (select.attr('title') || 'Options') + '';
                    firstOption += '</option>';
                    select.prepend(firstOption);
                });
            }

            $('#multiselect1').multiselect();
            $('#multiselect2').multiselect();

        });
    </script>

    <script>

       



        var selDiv = "";

        document.addEventListener("DOMContentLoaded", init, false);

        function init() {
            document.querySelector('#files').addEventListener('change', handleFileSelect, false);
            selDiv = document.querySelector("#selectedFiles");
        }

        function handleFileSelect(e) {

            if (!e.target.files) return;

            selDiv.innerHTML = "";

            var files = e.target.files;
            for (var i = 0; i < files.length; i++) {
                var f = files[i];

                selDiv.innerHTML += f.name + "<br/>";

            }

        }


    </script>
    }
